

<div class="page-content fade-in-up">
  
            <% if (typeof status !== 'undefined') { %>
                <%if (status == 'success') { %>

                <div class="ibox ibox-success">
                    <div class="ibox-head">
                        <div class="ibox-title">
                     
                            <div style="color: rgb(255, 255, 255);">
                                Cập Nhật Thành Công!
                            </div>
                        </div>
                        <div class="ibox-tools">
                            <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                            <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                        </div>

                <% } else { %>
                    <%if (status == 'error') { %>
                <div class=" ibox ibox-danger">
                    <div class="ibox-head">
                            <div class="ibox-title">
                              
                                    <div style="color: rgb(255, 255, 255);">
                                        Đã xảy ra lỗi khi cập nhật Tham Số!
                                    </div>
                            </div>
                            <div class="ibox-tools">
                                    <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                    <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                            </div>
                        <% } else { %>
                            <div class="ibox ibox-info">
                                <div class="ibox-head">
                                    <div class="ibox-title">
                                        MÃ THAM SỐ: <%= thamso.mats %>
                                        <div style="color: rgb(255, 255, 255);">
                                          
                                        </div>
                                    </div>
                                    <div class="ibox-tools">
                                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                        <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                                    </div>
                            <% } %>
                <% } %>
            <% } else { %>
            <div class="ibox ibox-info">
                <div class="ibox-head">
                    <div class="ibox-title">
                      
                        <div style="color: rgb(255, 255, 255);">
                            Chỉnh Sửa Thông Tin
                        </div>
                    </div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                        <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                    </div>
            <% } %>
                </div>
                <div class="ibox-body">
                    <form action="/admin/thamso/<%= thamso.mats %>" class="form-horizontal"
                        id="form-sample-1" method="post" novalidate="novalidate"
                        onSubmit="return confirm('Bạn có chắc chắn muốn thay đổi thông tin?') "
                        >
                        <input type="hidden" name="_method" value="put" />

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Tên Tham Số</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="tents"
                                    value="<%= thamso.tents %>">
                            </div>
                        </div> 

                        
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Giá Trị</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="giatri"
                                    value="<%= thamso.giatri %>">
                            </div>
                        </div> 

                      
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Chú Thích</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="6"
                                    name="chuthich"><%= thamso.chuthich %></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10 ml-sm-auto">
                                <button class="btn btn-info btn-rounded " type="submit">Cập Nhật</button>
                                <a href="/admin/thamso/details/<%= thamso.mats %>" class="btn btn-info btn-rounded">Xem Chi Tiết</a>
                            </div>
                        </div>
                    </form>
                </div>
    </div>
</div>

<div style="height: 550px;"></div>


<!-- Sử dụng cho jquery - validation -->
<script src="/assets/vendors/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="/assets/vendors/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#form-sample-1").validate({
        rules: {
            tents: {
                rangelength: [2, 255],
                required: !0
            },
            giatri: {
                number: true,
                required: !0,
                rangelength: [1, 11],
            },
            chuthich: {
                required: !0,
                rangelength: [2, 255],
            }
        },
        errorClass: "help-block error",
        highlight: function(e) {
            $(e).closest(".form-group.row").addClass("has-error")
        },
        unhighlight: function(e) {
            $(e).closest(".form-group.row").removeClass("has-error")
        },
    });
</script>