
    <div class="page-content fade-in-up">
       

            <% if (typeof deleted !== 'undefined') { %>
                <%if (deleted == 'true') { %>

                    <div class="ibox ibox-success">
                        <div class="ibox-head">
                            <div class="ibox-title">   
                                <div style="color: rgb(255, 255, 255);">
                                    Xóa Thành Công!
                                </div>
                            </div>
                        </div>
                <% } %>
           
          <% } else { %>

            <div class="ibox ibox-info">
                <div class="ibox-head">
                    <div class="ibox-title">   
                        <div style="color: rgb(255, 255, 255);">
                            Danh Sách Nhân Viên
                        </div>
                     
                    </div>
                </div>
            <% } %>
            <div class="ibox-body">
                
                <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Mã</th>
                            <th>TàiKhoản</th>
                            <th>Họ</th>
                            <th>Tên</th>
                            <th>NgàySinh</th>
                            <th>SĐT</th>
                            <th>ĐịaChỉ</th>
                            <th>Email</th>
                            <th>HĐĐ</th>
                            <th>GiớiTính</th>
                            <th>KíchHoạt</th>
                   
                            <th>HànhĐộng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% nhanvien.forEach((item) => { %>
                        <tr>
                            <td><%= item.manv %></td>
                            <td><%= item.taikhoan %></td>
                            <td><%= item.honv %></td>
                            <td><%= item.tennv %></td>
                            <td><%= moment(item.ngaysinh).format('DD-MM-YYYY') %></td>
                            <td><%= item.sodt %></td>
                            <td><%= item.diachi %></td>
                            <td><%= item.email %></td>
                            <td> 
                                <div class="popup">
                                    <img src="/images/avatarad/<%= item.hinhdd %>" />
                                  </div>
                            </td>
                            <td>
                                <%if (item.gioitinh == 1) { %>
                                    Nam
                                     <% }else{ %>
                                    Nữ
                                <%}%>   
                            </td>
                            <td>
                              

                                 <%if (item.kichhoat == 1) { %>
                                    <span class="badge badge-warning m-r-5 m-b-5">Chưa Xác Thực </span>
                                  <% }else { %>
                                      <span class="badge badge-success m-r-5 m-b-5">Đã Xác Thực</span>         
                                  <%  } %>
                            
                            </td>
                       
                          
                                <td>
                                    <a href="/admin/nhanvien/details/<%= item.manv %>" class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" data-original-title="Details"><i class="fa fa-info font-14"></i></a>
                                    <a href="/admin/nhanvien/edit/<%= item.manv %>" class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil font-14"></i></a>
                                    <a href="/admin/nhanvien/changepass/<%= item.manv %>" class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" data-original-title="Đổi Mật Khẩu"><i class="fa fa-key font-14"></i></a>
                                    <a href="/admin/nhanvien/delete/<%= item.manv %>" onclick="return confirm('Bạn có chắc chăn muốn xóa không?')" class="btn btn-default btn-xs" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash font-14"></i></a>
                                    <a href="/admin/nhanvien/pdf/<%= item.manv %>" class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" data-original-title="Lương"><i class="fa fa-print font-14"></i></a>
                                  
                                </td>
                        </tr>     
                        <% }) %>  
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<script type="text/javascript">
    $(function() {
        $('#example-table').DataTable({
            pageLength: 10,
            dom: 'Bfrtip',
            scrollX: true,
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
           
        });
    })
</script>



