<title>Đăng Ký</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="row">
	<div class="col-lg-3 col-md-4 mt-sm-30">
	</div>
	<div class="col-lg-6 col-md-4 card card-default rounded-0 shadow blur" style="border: 1px solid #ccc;;">
		<h1 class="mb-10 text-center mt-10">Đăng Ký</h1>
		<form action="/register" method="POST">
			<div class="row mt-10 ">
				<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
					<label for="hokh"><b>Họ Của Bạn</b></label>
					<input type="text" name="hokh" maxlength="255" placeholder="Nhập họ" class="single-input"
						style="border: 1px solid #ccc;" <% if (typeof hokh != "undefined" && hokh) { %>
						value="<%= hokh %>" <% } %> required>
				</div>

				<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
					<label for="tenkh"><b>Tên Của Bạn</b></label>
					<input type="text" name="tenkh" maxlength="255" placeholder="Nhập tên" class="single-input"
						style="border: 1px solid #ccc;" <% if (typeof tenkh != "undefined" && tenkh) { %>
						value="<%= tenkh %>" <% } %> required>
				</div>
			</div>

			<label class="mt-10" for="taikhoan"><b>Tên Tài Khoản</b></label>
			<div class="mt-10" style="border: 1px solid #ccc;">

				<input type="text" name="taikhoan" maxlength="255" placeholder="Nhập tên tài khoản" class="single-input"
					<% if (typeof taikhoan != "undefined" && taikhoan) { %> value="<%= taikhoan %>" <% } %> required>
			</div>

			<div class="row mt-10 ">
				<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
					<label   for="taikhoan"><b>Password</b></label>
					<input type="password" id="password-field" maxlength="40" name="matkhau" placeholder="Password" class="single-input"
						style="border: 1px solid #ccc;" <% if (typeof matkhau != "undefined" && matkhau) { %>
						value="<%= matkhau %>" <% } %> required>
				</div>

			


				<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
					<label for="taikhoan"><b>Nhập Lại Password</b></label>
					<input type="password" name="matkhauxn" maxlength="40" placeholder="Nhập lại Password" class="single-input"
						style="border: 1px solid #ccc;">

				</div>
			</div>

				<div class="mt-10" >
					Hiển thị
				<span toggle="#password-field"
						class="fa fa-fw fa-eye field-icon toggle-password"></span> 
				</div>

			<div class="row mt-10 ">
				<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
					<label for="taikhoan"><b>Email</b></label>
					<input type="email" name="email" maxlength="255" placeholder="Nhập Email" class="single-input"
						style="border: 1px solid #ccc;" <% if (typeof email != "undefined" && email) { %>
						value="<%= email %>" <% } %> required>
				</div>

				<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 mt-3">
				<label for="taikhoan"><b>Giới Tính</b></label>

				<div >
					<label for="nam">Nam</label>
					<input type="radio" name="gioitinh" id="male" value="1" checked>
					<label for="khoangtrang"> </label>
					<label for="nu">Nữ</label>
					<input type="radio" name="gioitinh" id="female" value="2">

				</div>
			</div>
			</div>
			<label class="mt-10" for="taikhoan"><b>Địa Chỉ</b></label>
			<div class="mt-10" style="border: 1px solid #ccc;">

				<input type="text" name="diachi" maxlength="255" placeholder="Nhập địa chỉ" class="single-input"
					<% if (typeof diachi != "undefined" && diachi) { %> value="<%= diachi %>" <% } %> required>
			</div>

			
			<div class="row mt-10 ">
			
				<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
					<label for="sodt"><b>Số Điện Thoại</b></label>
					<input type="number" name="sodt" maxlength="15" placeholder="Nhập số điện thoại" class="single-input"
						style="border: 1px solid #ccc;" <% if (typeof sodt != "undefined" && sodt) { %>
						value="<%= sodt %>" <% } %> required>
				</div>

				<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
				<label for="ngaysinh"><b>Ngày Sinh</b></label>
				<div >

					<input type="date" name="ngaysinh" placeholder="" class="single-input"
						style="border: 1px solid #ccc;" <% if (typeof ngaysinh != "undefined" && ngaysinh) { %>
						value="<%= ngaysinh %>" <% } %> required>

				</div>
			</div>
			</div>

			<% if (typeof conflictError != "undefined" && conflictError) { %>
			<div class="text-danger text-left  mb-3"><%= conflictError %></div>
			<% } %>

			<div class="text-danger text-left  mb-3">
				Chú Ý: Mật khẩu phải dài hơn 8 ký tự, cả chữ thường và chữ in hoa, ít nhất một số và một ký tự đặc biệt
				ví dụ: 012345Kh*
			</div>

			<div class="mt-10 text-center  mb-10">
				<input class="genric-btn info circle " type="submit" value="Đăng Ký">
			</div>
		</form>
	</div>
	<div class="col-lg-3 col-md-4 mt-sm-30">
	</div>
</div>



<script src="/home/login/js/jquery.min.js"></script>
<script src="/home/login/js/main.js"></script> 