<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="ibox bg-success color-white widget-stat">
                <div class="ibox-body">
                    <h2 class="m-b-5 font-strong"> <%= SLHDCD %> </h2>
                    <div class="m-b-5">ĐƠN ĐẶT HÀNG </br> CHỜ XÁC NHẬN</div><i class="ti-shopping-cart widget-stat-icon"></i>
                    <!-- <div><i class=" m-r-5"></i><small></small></div> -->
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="ibox bg-info color-white widget-stat">
                <div class="ibox-body">
                    <h2 class="m-b-5 font-strong"> <%= SLHDRXCD %> </h2>
                    <div class="m-b-5">ĐƠN ĐẶT LỊCH RỬA XE </br> CHỜ XÁC NHẬN</div><i class="ti-car widget-stat-icon"></i>
                    <!-- <div><i class=" m-r-5"></i><small></small></div> -->
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="ibox bg-warning color-white widget-stat">
                <div class="ibox-body">
                    <h2 class="m-b-5 font-strong"><%= (DTN).toLocaleString() %></h2>  
                    <div class="m-b-5">DOANH THU NGÀY <small>(VNĐ)</small></div><i class="fa fa-money widget-stat-icon"></i>
                
                    <% if(tyledaanhthuhn > 0){ %>
                        <div><i class="fa fa-level-up m-r-5"></i><small><%= tyledaanhthuhn %>% higher</small></div>
                    <% } else{ %>  
                        <div><i class="fa fa-level-down m-r-5"></i><small><%= tyledaanhthuhn %>% Lower</small></div>
                     <% } %>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="ibox bg-danger color-white widget-stat">
                <div class="ibox-body">
                    <h2 class="m-b-5 font-strong"><%= (DTT).toLocaleString() %> </h2>
                    <div class="m-b-5">DOANH THU THÁNG <small>(VNĐ)</small></div><i class="ti-bar-chart widget-stat-icon"></i>
                    <% if(tyldoanhthut > 0){ %>
                        <div><i class="fa fa-level-up m-r-5"></i><small><%= tyldoanhthut %>% higher</small></div>
                    <% } else{ %>  
                        <div><i class="fa fa-level-down m-r-5"></i><small><%= tyldoanhthut %>% Lower</small></div>
                     <% } %>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-body">
                    <div class="flexbox mb-4">
                        <div>
                            <h4>Doanh Thu</h4>
                            <div>7 ngày qua</div>
                        </div>
                        <div class="d-inline-flex">
                            <div class="px-3" style="border-right: 1px solid rgba(0,0,0,.1);">
                                <div class="text-muted">ĐƠN HÀNG</div>
                                <div>
                                    <span class="h2 m-0"><%= (doanhThuDatHang7Ngay).toLocaleString() %>   </span> <small>(VNĐ)</small>
                                    
                                </div>
                            </div>
                            <div class="px-3">
                                <div class="text-muted">ĐƠN RỬA XE</div>
                                <div>
                                    <span class="h2 m-0"><%= (doanhThuDatLich7Ngay).toLocaleString() %> </span> <small>(VNĐ)</small>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <canvas id="bar_chart" style="height:260px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Tình Trạng Đơn Hàng 7 Ngày Qua</div>
                </div>
                <div class="ibox-body">
                    <div class=" ">
                    
                            <canvas id="doughnut_chart" style="height:160px;"></canvas>
                 
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="m-b-20 m-t-20 text-muted"><i class="fa fa-circle-o m-r-10"></i>Chờ Xác Nhận</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="m-b-20 m-t-20 text-info"><i class="fa fa-circle-o m-r-10"></i>Đã Xác Nhận</div>
                                </div>
                            </div>
                            
                            <div class="row align-items-center ">
                                <div class="col-md-6">
                                    <div class="m-b-20 text-danger"><i class="fa fa-circle-o m-r-10"></i>Hủy</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="m-b-20 text-success"><i class="fa fa-circle-o m-r-10"></i>Thành Công</div>
                                </div>
                            </div>
                            
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class=" text-warning"><i class="fa fa-circle-o m-r-10"></i>Đã Giao Cho Đơn Vị Vận Chuyển</div>
                                </div>
                            </div>
                    
                    </div>
               
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-8">
            <div class="ibox">
                <div class="ibox-body">
                    <div class="flexbox mb-4">
                        <div>
                            <h4 class="">Số lượng </h4>
                            <div>Đặt lịch và Đặt hàng 7 ngày qua</div>
                          
                        </div>

    
                        <div class="d-inline-flex">
                            <div class="px-3" style="border-right: 1px solid rgba(0,0,0,.1);">
                                <div class="text-muted">ĐƠN HÀNG</div>
                                <div >
                                    <span  style="float: right;" id="soluongdhtuan" class="h2 m-0"> </span>
                                </div>
                            </div>
                            <div class="px-3">
                                <div class="text-muted">ĐƠN RỬA XE</div>
                                <div >
                                    <span style="float: right;" id="soluongdhrxtuan" class="h2 m-0"></span>
                                  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <canvas id="bar_chartne" style="height:200px;"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Tình Trạng Đơn Rửa Xe 7 Ngày Qua</div>
                </div>
                <div class="ibox-body">
                    <div>
                        <canvas id="doughnut_chartne" style="height:224px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    <style>
        .visitors-table tbody tr td:last-child {
            display: flex;
            align-items: center;
        }

        .visitors-table .progress {
            flex: 1;
        }

        .visitors-table .progress-parcent {
            text-align: right;
            margin-left: 10px;
        }
    </style>
  
</div>


<script>
    // Doanh thu đặt hàng
    var dhn6 = <%= dhn6 %>;
    var dhn5 = <%= dhn5 %>;
    var dhn4 = <%= dhn4 %>;
    var dhn3 = <%= dhn3 %>;
    var dhn2 = <%= dhn2 %>;
    var dhn1 = <%= dhn1 %>;
    var dhn0 = <%= dhn0 %>;

    // Số lượng đặt hàng
    var sldhn6 = <%= soLuongDHN6 %>;
    var sldhn5 = <%= soLuongDHN5 %>;
    var sldhn4 = <%= soLuongDHN4 %>;
    var sldhn3 = <%= soLuongDHN3 %>;
    var sldhn2 = <%= soLuongDHN2 %>;
    var sldhn1 = <%= soLuongDHN1 %>;
    var sldhn0 = <%= soLuongDHN0 %>;

    let sumslhd7n = 0;

    // Sử dụng vòng lặp for để tính tổng các phần tử trong mảng
 
    for (let i = 0; i < 6; i++) {
        sumslhd7n = sldhn6 + sldhn5 + sldhn4 + sldhn3 + sldhn2 + sldhn1 + sldhn0;
    }

    // Lấy thẻ div cần hiển thị dữ liệu
    const SUMslhd7n = document.getElementById("soluongdhtuan");

    // Gán dữ liệu vào nội dung của thẻ div

    if (!isNaN(sumslhd7n)) {
        SUMslhd7n.textContent = sumslhd7n;
    } 

    // Doanh thu đặt lịch
    var dhrxn6 = <%= dhrxn6 %>;
    var dhrxn5 = <%= dhrxn5 %>;
    var dhrxn4 = <%= dhrxn4 %>;
    var dhrxn3 = <%= dhrxn3 %>;
    var dhrxn2 = <%= dhrxn2 %>;
    var dhrxn1 = <%= dhrxn1 %>;
    var dhrxn0 = <%= dhrxn0 %>;

    // Số lượng đặt lịch
    var slrxn6 = <%= soLuongRXN6 %>;
    var slrxn5 = <%= soLuongRXN5 %>;
    var slrxn4 = <%= soLuongRXN4 %>;
    var slrxn3 = <%= soLuongRXN3 %>;
    var slrxn2 = <%= soLuongRXN2 %>;
    var slrxn1 = <%= soLuongRXN1 %>;
    var slrxn0 = <%= soLuongRXN0 %>;

    let sumslhdrx7n = 0;

    // Sử dụng vòng lặp for để tính tổng các phần tử trong mảng
    for (let i = 0; i < 6; i++) {
        sumslhdrx7n = slrxn6 + slrxn5 + slrxn4 + slrxn3 + slrxn2 + slrxn1 + slrxn0;
    }


    // Lấy thẻ div cần hiển thị dữ liệu
    const SUMslhdrx7n = document.getElementById("soluongdhrxtuan");


    if (!isNaN(sumslhdrx7n)) {
        SUMslhdrx7n.textContent = sumslhdrx7n;
    } 


   

   
    $(function() {
    // Bar Chart example
    var barData = {
        labels: ["6 Ngày trước", "5 Ngày trước", "4 Ngày trước", "3 Ngày trước", "2 Ngày trước", "Hôm Qua", "Hôm nay"],
        datasets: [
            {
                label: "Đơn Đặt Hàng",
                backgroundColor:'#DADDE0',
                data: [sldhn6, sldhn5, sldhn4, sldhn3, sldhn2, sldhn1, sldhn0]
            },
            {
                label: "Đơn Rửa Xe",
                backgroundColor: '#2ecc71',
                borderColor: "#fff",
                data: [slrxn6, slrxn5, slrxn4, slrxn3, slrxn2, slrxn1, slrxn0]
            }
        ]
    };
    var barOptions = {
        responsive: true,
        maintainAspectRatio: false
    };

    var ctx = document.getElementById("bar_chartne").getContext("2d");
    new Chart(ctx, {type: 'bar', data: barData, options:barOptions}); 



    ///////////////////////
    var a = {
            labels: ["6 Ngày Trước ", "5 Ngày Trước", "4 Ngày Trước", "3 Ngày Trước", "2 Ngày Trước", "Hôm Qua", "Hôm Nay"],
            datasets: [{
                label: "Đơn Đặt Hàng",
                borderColor: 'rgba(52,152,219,1)',
                backgroundColor: 'rgba(52,152,219,1)',
                pointBackgroundColor: 'rgba(52,152,219,1)',
                data: [ dhn6 , dhn5, dhn4, dhn3, dhn2, dhn1, dhn0]
            },{
                label: "Đơn Rửa Xe",
                backgroundColor: "#DADDE0",
                borderColor: "#DADDE0",
                data: [dhrxn6, dhrxn5, dhrxn4, dhrxn3, dhrxn2, dhrxn1, dhrxn0]
            }]
        },
        t = {
            responsive: !0,
            maintainAspectRatio: !1
        },
        e = document.getElementById("bar_chart").getContext("2d");
    new Chart(e, {
        type: "line",
        data: a,
        options: t
    });
});
</script>


<script>
$(function() {

    // Tình trạng đơn đặt hàng
    var ttdh1 = <%= ttdh1 %>;
    var ttdh2 = <%= ttdh2 %>;
    var ttdh3 = <%= ttdh3 %>;
    var ttdh4 = <%= ttdh4 %>;
    var ttdh5 = <%= ttdh5 %>;


    // Tình trạng đơn rửa xe
    var tt1 = <%= tt1 %>;
    var tt2 = <%= tt2 %>;
    var tt3 = <%= tt3 %>;
    var tt4 = <%= tt4 %>;

    // Tình Trạng Đơn Hàng 7 Ngày Qua
    var doughnutData = {
      labels: ["Chờ Xác Nhận","Đã Xác Nhận","Hủy","Thành Công", "Giao Cho Đơn Vị Vận Chuyển" ],
      datasets: [{
          data: [ttdh1, ttdh2, ttdh3, ttdh4, ttdh5],
          backgroundColor: ["#bdc3c7","#23B7E5","#e74c3c","#2ecc71","#F39C12"]
      }]
  } ;

  var doughnutOptions = {
      responsive: true,
      legend: {
        display: false
      },
  };


  var ctx4 = document.getElementById("doughnut_chart").getContext("2d");
  new Chart(ctx4, {type: 'doughnut', data: doughnutData, options:doughnutOptions});

    // Tình Trạng Đơn Rửa Xe 7 Ngày Qua
    var doughnutData = {
        labels: ["Chờ Xác Nhận","Đã Xác Nhận","Hủy","Thành Công"],
        datasets: [{
            data: [tt1,tt2,tt3,tt4],
            backgroundColor: ["#bdc3c7","#23B7E5","#e74c3c","#2ecc71"]
        }]
    } ;

    var doughnutOptions = {
        responsive: true,
    };

    var ctx4 = document.getElementById("doughnut_chartne").getContext("2d");
    new Chart(ctx4, {type: 'doughnut', data: doughnutData, options:doughnutOptions});
});
</script>

