<title>Đăng Ký</title>
<section class="section-padding"></section>
<section class="section-paddinghai"></section>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="row">
	<div class="col-lg-3 col-md-4 mt-sm-30">
	</div>
	<div class="col-lg-6 col-md-4 card card-default rounded-0 shadow blur" style="border:1px solid black;">
		<h1 class="mb-10 text-center mt-10">Đăng Ký</h1>
		<form action="/admin/register" method="POST">
			<div class="row mt-10 ">
				<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
					<label for="honv"><b>Họ Của Bạn</b></label>
					<input type="text" name="honv" placeholder="Nhập họ" class="single-input"
						style="border:1px solid black" <% if (typeof honv != "undefined" && honv) { %>
						value="<%= honv %>" <% } %> required>
				</div>

				<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
					<label for="tennv"><b>Tên Của Bạn</b></label>
					<input type="text" name="tennv" placeholder="Nhập tên" class="single-input"
						style="border:1px solid black" <% if (typeof tennv != "undefined" && tennv) { %>
						value="<%= tennv %>" <% } %> required>
				</div>
			</div>

			<label class="mt-10" for="taikhoan"><b>Tên Tài Khoản</b></label>
			<div class="mt-10" style="border:1px solid black">

				<input type="text" name="taikhoan" placeholder="Nhập tên tài khoản" class="single-input"
					<% if (typeof taikhoan != "undefined" && taikhoan) { %> value="<%= taikhoan %>" <% } %> required>
			</div>

			<div class="row mt-10 ">
				<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
					<label for="password"><b>Password</b></label>
					<input type="password" id="password-field" name="matkhau" placeholder="Password" class="single-input"
						style="border:1px solid black" <% if (typeof matkhau != "undefined" && matkhau) { %>
						value="<%= matkhau %>" <% } %> required>
				</div>

			


				<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
					<label for="taikhoan"><b>Nhập Lại Password</b></label>
					<input type="password" name="matkhauxn" placeholder="Nhập lại Password" class="single-input"
						style="border:1px solid black">

				</div>
			</div>

				<div class="mt-10" >
					Hiển thị
				<span toggle="#password-field"
						class="fa fa-fw fa-eye field-icon toggle-password"></span> 
				</div>

			<div class="row mt-10 ">
				<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
					<label for="taikhoan"><b>Email</b></label>
					<input type="email" name="email" placeholder="Nhập Email" class="single-input"
						style="border:1px solid black" <% if (typeof email != "undefined" && email) { %>
						value="<%= email %>" <% } %> required>
				</div>

				<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 mt-3">
				<label for="taikhoan"><b>Giới Tính</b></label>

				<div >
					<label for="nam">Nam</label>
					<input type="radio" name="gioitinh" id="male" value="1" checked>
					<label for="khoangtrang"> </label>
					<label for="nu">Nữ</label>
					<input type="radio" name="gioitinh" id="female" value="2">

				</div>
			</div>
			</div>
			<label class="mt-10" for="taikhoan"><b>Địa Chỉ</b></label>
			<div class="mt-10" style="border:1px solid black">

				<input type="text" name="diachi" placeholder="Nhập địa chỉ" class="single-input"
					<% if (typeof diachi != "undefined" && diachi) { %> value="<%= diachi %>" <% } %> required>
			</div>

			<label class="mt-10" for="taikhoan"><b>Lương</b></label>
			<div class="mt-10" style="border:1px solid black">
				<input type="number" name="luong" placeholder="Nhập lương" class="single-input"
					<% if (typeof luong != "undefined" && luong) { %> value="<%= luong %>" <% } %> required>
			</div>

			
			<div class="row mt-10 ">
				<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
					<label for="sodt"><b>Số Điện Thoại</b></label>
					<input type="number" name="sodt" placeholder="Nhập số điện thoại" class="single-input"
						style="border:1px solid black" <% if (typeof sodt != "undefined" && sodt) { %>
						value="<%= sodt %>" <% } %> required>
				</div>

				<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
				<label for="ngaysinh"><b>Ngày Sinh</b></label>
				<div >

					<input type="date" name="ngaysinh" placeholder="" class="single-input"
						style="border:1px solid black" <% if (typeof ngaysinh != "undefined" && ngaysinh) { %>
						value="<%= ngaysinh %>" <% } %> required>

				</div>
			</div>
			</div>

			<% if (typeof conflictError != "undefined" && conflictError) { %>
			<div class="text-danger text-left  mb-3"><%= conflictError %></div>
			<% } %>

			<div class="mt-10 text-center  mb-10">
				<input class="genric-btn info circle " type="submit">
			</div>
		</form>
	</div>
	<div class="col-lg-3 col-md-4 mt-sm-30">
	</div>
</div>



<script src="/home/login/js/jquery.min.js"></script>
<script src="/home/login/js/main.js"></script> 