<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox ibox-info">
                <div class="ibox-head">
                    <div class="ibox-title">
                        <div style="color: rgb(255, 255, 255);">
                            Thông Tin Chi Tiết
                        </div>
                    </div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                        <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                    </div>
            </div>
     
            <div class="ibox-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Mã Hóa Đơn</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="mahd"
                                value="<%= hoadon.mahd %>" readonly>
                        </div>
                    </div>
     
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Ngày Đặt</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="ngaydat"
                                value="<%= moment(hoadon.ngaydat).format('DD-MM-YYYY')  %>" readonly>
                        </div>
                    </div>
     
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Ngày Giao</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="ngayrua"
                                value="<%= moment(hoadon.ngaygiao).format('DD-MM-YYYY')  %>" readonly>
                        </div>
                    </div>
     
                    <div class="form-group row">
                     <label class="col-sm-2 col-form-label">Tên Người Nhận</label>
                     <div class="col-sm-10">
                         <input class="form-control" type="text" name="tennguoinhan"
                             value="<%= hoadon.tennguoinhan %>" readonly>
                     </div>
                     </div>
     
                 
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Số Điện Thoại</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="sodt"
                                value="<%= hoadon.sodt %>" readonly>
                        </div>
                    </div>
     
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Địa Chỉ</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="diachi"
                                value="<%= hoadon.diachi  %> " readonly>
                        </div>
                    </div>
     
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Ghi Chú</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="6"
                                name="ghichu" readonly><%= hoadon.ghichu %></textarea>
                        </div>
                    </div>
     
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Tổng Tiền</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="tongtiensp"
                                value=" <%= hoadon.tongtiensp  %> " readonly>
                        </div>
                    </div>
     
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Thanh Toán</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="thanhtoan"
                                value="<%if (hoadon.thanhtoan == 1) { %> Chưa Thanh Toán <% }else { %> Đã Thanh Toán <%  } %>" readonly>
                        </div>
                    </div>
     
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Mã Trạng Thái</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="matt"
                                value="<%= trangthai.tentt %>" readonly>
                        </div>
                    </div>
     
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Mã Nhân Viên Chỉnh Sửa Gần Nhất</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="manv"
                                value=" <%= hoadon.manv %> " readonly>
                        </div>
                    </div>
     
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Mã Khách Hàng</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="makh"
                                value=" <%= hoadon.makh %> " readonly>
                        </div>
                    </div>
     
                    <div class="form-group row">
                        <div class="col-sm-10 ml-sm-auto">
                            <a href="/admin/hoadon/edit/<%= hoadon.mahd %>" class="btn btn-info btn-rounded" >Chỉnh Sửa </a>
                        </div>
                    </div>
                </form>
            </div>
             </div> 
        </div>
        <div class="col-md-6">
            <div class="ibox ibox-info">
                <div class="ibox-head">
                    <div class="ibox-title">
                        <div style="color: rgb(255, 255, 255);">
                            Danh Sách Sản Phẩm
                        </div>
                    </div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                           <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                    </div>
            </div>
     
            <div class="ibox-body">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tên Sản Phẩm</th>
                            <th>Hình</th>
                            <th>Số Lượng</th>
                            <th>Giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% cthd.forEach((item) => { %>
                        <% for(var i=0; i< sanpham.length; i++) { %>
                            <% if(sanpham[i].masp == item.masp){ %>
                                <tr>
                                    <td> <%= sanpham[i].tensp %></td>
                                    <td>
                                        <img src="/images/sanpham/<%= sanpham[i].hinhdd %>" width="100px" />
                                    </td>
                                    <td><%= item.soluong %></td>
                                    <td><%= item.giatien %></td>
                                </tr>
                            
                                <% } %>  
                                <%} %>
                        <% }) %>
                    </tbody>
                </table>

                </form>
            </div>
             </div>
        </div>
    </div>
   
</div>


