<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-5"> 

            <% if (typeof status !== 'undefined') { %>
                <%if (status == 'success') { %>

                <div class="ibox ibox-success">
                    <div class="ibox-head">
                        <div class="ibox-title">
                            <div style="color: rgb(255, 255, 255);">
                                Cập Nhật Thành Công!
                            </div>
                        </div>
                        <div class="ibox-tools">
                            <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                            <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                        </div>

                <% } else { %>
                    <%if (status == 'error') { %>
                <div class=" ibox ibox-danger">
                    <div class="ibox-head">
                            <div class="ibox-title">
                              
                                    <div style="color: rgb(255, 255, 255);">
                                        Đã xảy ra lỗi khi cập nhật Hóa Đơn RX!
                                    </div>
                            </div>
                            <div class="ibox-tools">
                                    <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                    <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                            </div>
                        <% } else { %>
                            <div class="ibox ibox-info">
                                <div class="ibox-head">
                                    <div class="ibox-title">
                                     
                                        <div style="color: rgb(255, 255, 255);">
                                          
                                        </div>
                                    </div>
                                    <div class="ibox-tools">
                                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                        <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                                    </div>
                            <% } %>
                <% } %>
            <% } else { %>
            <div class="ibox ibox-info">
                <div class="ibox-head">
                    <div class="ibox-title">
                    
                        <div style="color: rgb(255, 255, 255);">
                            Chỉnh Sửa Thông Tin
                        </div>
                    </div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                        <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                    </div>
            <% } %>
                </div>

                <div class="ibox-body">
                    <form action="/admin/hoadon/<%= hoadon.mahd %>" class="form-horizontal"
                        id="form-sample-1" method="post" novalidate="novalidate"
                        onSubmit="return confirm('Bạn có chắc chắn muốn thay đổi thông tin?') "
                        >
                        <input type="hidden" name="_method" value="put" />
                        
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Mã Hóa Đơn</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="mahd"
                                    value="<%= hoadon.mahd %>" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Tên Người Nhận</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="tennguoinhan"
                                    value="<%= hoadon.tennguoinhan %>">
                            </div>
                        </div>

                        
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Số Điện Thoại</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="sodt"
                                    value="<%= hoadon.sodt %>">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Địa Chỉ</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="diachi"
                                    value="<%= hoadon.diachi %>">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Ngày Giao</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="date" name="ngaygiao"
                                    value="<%= moment(hoadon.ngaygiao).format('YYYY-MM-DD')%>">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Mã Vận Chuyển</label>
                            <div class="col-sm-10">
                                    <input class="form-control" type="text" name="mavanchuyen"
                                    value="<%= phiship.mavanchuyen %>" > 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Ghi Chú</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="6"
                                    name="ghichu"><%= hoadon.ghichu %></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Tổng Tiền Sản Phẩm</label>
                            <div class="col-sm-10">
                                    <input class="form-control number-input" type="text" name="tongtiensp"
                                     value="<%= (hoadon.tongtiensp).toLocaleString() %> VNĐ " readonly> 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Tiền Ship</label>
                            <div class="col-sm-10">
                                    <input class="form-control number-input" type="text" name="giaphi"
                                
                                    value="<%= phiship.giaphi %>" required> 
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Tổng Tiền Hóa Đơn</label>
                            <div class="col-sm-10">
                                    <input class="form-control number-input" type="text" name="tongtienhd"
                                
                                    value="<%= (hoadon.tongtienhd).toLocaleString() %> VNĐ " readonly> 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Phương Thức Thanh Toán</label>
                            <div class="col-sm-10">

                                <select class="form-control" name="ptthanhtoan">
                                        <% if(hoadon.ptthanhtoan == 2){ %>
                                            <option name="ptthanhtoan" selected value="2">Thẻ Online</option>
                                            <option name="ptthanhtoan"  value="1">Khi Nhận Hàng</option>
                                            <% } else{ %>  
                                                <option name="ptthanhtoan"  value="2">Thẻ Online</option>
                                                <option name="ptthanhtoan" selected value="1">Khi Nhận Hàng</option>
                                        <% } %>
                                </select>
                            </div>
                        </div>

              

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Thanh Toán</label>
                            <div class="col-sm-10">

                                <select class="form-control" name="thanhtoan">
                                        <% if(hoadon.thanhtoan == 2){ %>
                                            <option name="thanhtoan" selected value="2">Đã Thanh Toán</option>
                                            <option name="thanhtoan"  value="1"> Chưa Thanh Toán</option>
                                            <% } else{ %>  
                                                <option name="thanhtoan"  value="2">Đã Thanh Toán</option>
                                                <option name="thanhtoan" selected value="1"> Chưa Thanh Toán</option>
                                        <% } %>
                                </select>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Trạng Thái</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="matt">
                                    <% for(var i=0; i < trangthai.length; i++) { %>
                                        <% if(trangthai[i].matt == hoadon.matt){ %>
                                            <option name="matt" selected value="<%= trangthai[i].matt %>"> <%= trangthai[i].tentt %></option>
                                            <% } else{ %>  
                                                <option value="<%= trangthai[i].matt %>"> <%= trangthai[i].tentt %></option>
                                           <% } %>
                                     <%} %>
                                </select>
                            </div>
                        </div>

                      

                        <div class="form-group row">
                            <div class="col-sm-10 ml-sm-auto">
                                <button class="btn btn-info btn-rounded " type="submit">Cập Nhật</button>
                                <a href="/admin/hoadon/details/<%= hoadon.mahd %>" class="btn btn-info btn-rounded">Xem Chi Tiết</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div> 

        </div>

        <div class="col-md-7">
            <% if (typeof status !== 'undefined') { %>
                <%if (status == 'successSP') { %>
                    <div class="ibox ibox-success">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                <div style="color: rgb(255, 255, 255);">
                                    Cập Nhật Thành Công!
                                </div>
                            </div>
                            <div class="ibox-tools">
                                <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                            </div>

                <% } else { %>

                    <%if (status == 'errorSP') { %>

                    <div class=" ibox ibox-danger">
                        <div class="ibox-head">
                                <div class="ibox-title">
                                       
                                        <div style="color: rgb(255, 255, 255);">
                                            Đã xảy ra lỗi khi cập nhật ảnh đại diện!
                                        </div>
                                </div>
                                <div class="ibox-tools">
                                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                        <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                                </div>
                                <% } else { %>
                                    <div class="ibox ibox-info">
                                        <div class="ibox-head">
                                            <div class="ibox-title">
                                                <div style="color: rgb(255, 255, 255);">
                                                Cập Nhật Sản Phẩm Trong Đơn Hàng
                                                </div>
                                            </div>
                                            <div class="ibox-tools">
                                                <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                                <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                                            </div>
                                <% } %>
                <% } %>
            <% } else { %>
                <div class="ibox ibox-info">
                    <div class="ibox-head">
                        <div class="ibox-title">
                            <div style="color: rgb(255, 255, 255);">
                            Danh Sách Sản Phấm
                            </div>
                        </div>
                        <div class="ibox-tools">
                            <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                            <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                        </div>
            <% } %>
                </div>
                <div class="ibox-body">
                  
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Tên Sản Phẩm</th>
                                    <th>Giá Tiền 1 SP</th>
                                    <th>Số Lượng</th>
                                    <th>Giá Tiền</th>
                                    <th>Hành Động</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% cthd.forEach((item) => { %>
                                    <% for(var i=0; i< sanpham.length; i++) { %>
                                        <% if(sanpham[i].masp == item.masp){ %>    

                                            <form action="/admin/cthoadon/<%= item.mahd %>/<%= item.masp %>" 
                                                class="form-horizontal" 
                                                method="POST"
                                                onSubmit="return confirm('Bạn có chắc chắn muốn đổi?') ">
                                                <input type="hidden" name="_method" value="put" />

                                            <tr>
                                                <td>  <%= sanpham[i].tensp %></td>
                                                <td> 
                                                    <input class="form-control" type="number" name="giaban"
                                                    value="<%= sanpham[i].giaban %>" readonly>
                                               
                                                </td>
                                             
                                                <td>
                                                    <input class="form-control" type="number" name="soluong"
                                            value="<%= item.soluong %>">
                                        </td>
                                                </td>
                                                <td><%= (item.giatien).toLocaleString() %> VNĐ</td>
                                                <td> 
                                                    <button class="btn btn-default btn-xs" data-toggle="tooltip" data-original-title="Update" type="submit"><i class="fa fa-check font-14"></i></button>

                                                    <a href="/admin/cthoadon/delete/<%= item.mahd %>/<%= item.masp %>" onclick="return confirm('Bạn có chắc chăn muốn xóa không?')" class="btn btn-default btn-xs" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash font-14"></i></a>
                                                </td>
                                            </tr>

                                        </form>

                                            <% } %>  
                                            <%} %>
                                    <% }) %>      
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Sử dụng cho jquery - validation -->
<script src="/assets/vendors/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="/assets/vendors/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#form-sample-1").validate({
        rules: {
            tennguoidat: {
                rangelength: [2, 50],
                required: !0
            },
            motact: {
                required: !0,
                rangelength: [2, 300],
            }
        },
        errorClass: "help-block error",
        highlight: function(e) {
            $(e).closest(".form-group.row").addClass("has-error")
        },
        unhighlight: function(e) {
            $(e).closest(".form-group.row").removeClass("has-error")
        },
    });
</script>


<script>

const url = window.location.href;
    const status = url.slice(url.lastIndexOf('=') + 1);
   
    if (status == 'khongxoaduoc') {
        alert("Không xóa được sản phẩm cuối");
    }


    const inputs = document.querySelectorAll('.number-input');

inputs.forEach(input => {
  input.addEventListener('input', function() {
    let value = parseInt(this.value.replace(/\D/g, ''));
    if (value) {
      this.value = value.toLocaleString('en-US');
    }
  });
});

</script>