<title>Danh Sách Hóa Đơn</title>
<div class="page-content fade-in-up">
            <% if (typeof deleted !== 'undefined') { %>
                <%if (deleted == 'true') { %>

                    <div class="ibox ibox-success">
                        <div class="ibox-head">
                            <div class="ibox-title">   
                                <div style="color: rgb(255, 255, 255);">
                                    Xóa Thành Công!
                                </div>
                            </div>
                        </div>
                <% } %>
           
          <% } else { %>

            <div class="ibox ibox-info">
                <div class="ibox-head">
                    <div class="ibox-title">  
                        <div style="color: rgb(255, 255, 255);">
                            Danh Sách Hóa Đơn Đặt Hàng
                        </div> 
                      
                    </div>
                </div>
            <% } %>
            <div class="ibox-body">
                
                <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>MãHóaĐơn</th>
                            <th>NgàyTạo</th>
                            <th>NgàyGiao</th>
                            <th>TênNgườiNhận</th>
                            <th>SốĐT</th>
                            <th>ĐịaChỉ</th>
                            <th>TổngTiền</th>
                            <th>GhiChú</th>
                            <th>ThanhToán</th>
                            <th>TrạngThái</th>
                     
                            <th>HànhĐộng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% hoadon.forEach((item) => { %>
                        <tr>
                            <td><%= item.mahd %></td>
                            <td><%= moment(item.created_at).format('DD-MM-YYYY')  %></td>
                            <td><%= moment(item.ngaygiao).format('DD-MM-YYYY')  %></td>
                            <td><%= item.tennguoinhan %></td>
                            <td><%= item.sodt %></td>
                            <td><%= item.diachi %></td>
                            <td><%= (item.tongtiensp).toLocaleString() %> VNĐ %></td>  
                            <td><%= item.ghichu %></td>  
                   
                            <td>
                                <%if (item.thanhtoan == 1) { %>
                                    <span class="badge badge-warning m-r-5 m-b-5">Chưa Thanh Toán </span>
                                  <% }else { %>
                                      <span class="badge badge-success m-r-5 m-b-5">Đã Thanh Toán</span>         
                                  <%  } %>
                            </td>  

                            <td>
                                <% for(var i=0; i<trangthai.length; i++) { %>
                                    <% if(trangthai[i].matt == item.matt && item.matt == 1){ %>
                                    <span class="badge badge-default m-r-5 m-b-5"><%= trangthai[i].tentt %></span>
                                     <% } %>
                                     
                                     <% if(trangthai[i].matt == item.matt && item.matt == 2){ %>
                                        <span class="badge badge-info m-r-5 m-b-5"><%= trangthai[i].tentt %></span>
                                    <% } %>

                                    <% if(trangthai[i].matt == item.matt && item.matt == 3){ %>
                                        <span class="badge badge-danger m-b-5"><%= trangthai[i].tentt %></span>
                                    <% } %>

                                    <% if(trangthai[i].matt == item.matt  && item.matt == 4){ %>
                                        <span class="badge badge-success m-r-5 m-b-5"><%= trangthai[i].tentt %></span>
                                    <% } %>

                                    <% if(trangthai[i].matt == item.matt  && item.matt == 5){ %>

                                        <span class="badge badge-warning m-r-5 m-b-5"><%= trangthai[i].tentt %></span>
                                     
                                    <% } %>
                                      
                                 <%} %>

                            </td>  
                                <td>
                                    <a href="/admin/hoadon/details/<%= item.mahd %>" class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" data-original-title="Details"><i class="fa fa-info font-14"></i></a>
                                    <a href="/admin/hoadon/edit/<%= item.mahd %>" class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil font-14"></i></a>
                                    <a href="/admin/hoadon/delete/<%= item.mahd %>" onclick="return confirm('Bạn có chắc chăn muốn xóa không?')" class="btn btn-default btn-xs" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash font-14"></i></a>
                                </td>
                        </tr>     
                        <% }) %>  
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<script type="text/javascript">
    $(function() {
        $('#example-table').DataTable({
            pageLength: 10,
            dom: 'Bfrtip',
            scrollX: true,
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
           
        });
    })
</script>



<div style="height: 480px;"></div>