
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-7">
            <% if (typeof status !== 'undefined') { %>
                <%if (status == 'success') { %>

                <div class="ibox ibox-success">
                    <div class="ibox-head">
                        <div class="ibox-title">
                     
                            <div style="color: rgb(255, 255, 255);">
                                Cập Nhật Thành Công!
                            </div>
                        </div>
                        <div class="ibox-tools">
                            <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                            <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                        </div>

                <% } else { %>
                    <%if (status == 'error') { %>
                <div class=" ibox ibox-danger">
                    <div class="ibox-head">
                            <div class="ibox-title">
                              
                                    <div style="color: rgb(255, 255, 255);">
                                        Đã xảy ra lỗi khi cập nhật KHÁCH HÀNG!
                                    </div>
                            </div>
                            <div class="ibox-tools">
                                    <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                    <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                            </div>
                        <% } else { %>
                            <div class="ibox ibox-info">
                                <div class="ibox-head">
                                    <div class="ibox-title">
                                     
                                        <div style="color: rgb(255, 255, 255);">
                                          
                                        </div>
                                    </div>
                                    <div class="ibox-tools">
                                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                        <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                                    </div>
                            <% } %>
                <% } %>
            <% } else { %>
            <div class="ibox ibox-info">
                <div class="ibox-head">
                    <div class="ibox-title">

                        <div style="color: rgb(255, 255, 255);">
                          Chỉnh Sửa Thông Tin
                        </div>
                    </div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                        <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                    </div>
            <% } %>
                </div>

                <div class="ibox-body">
                    <form action="/admin/khachhang/<%= khachhang.makh %>" class="form-horizontal"
                        id="form-sample-1" method="post" novalidate="novalidate"
                        onSubmit="return confirm('Bạn có chắc chắn muốn thay đổi thông tin?') "
                        >
                        <input type="hidden" name="_method" value="put" />

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Tài Khoản</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="taikhoan"
                                    value="<%= khachhang.taikhoan %>">
                            </div>
                        </div>

                        
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Họ</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="hokh"
                                    value="<%= khachhang.hokh %>">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Tên</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="tenkh"
                                    value="<%= khachhang.tenkh %>">
                            </div>
                        </div>

                      
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Ngày Sinh</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="date" id="ngaysinh" name="ngaysinh" value="<%= moment(khachhang.ngaysinh).format('YYYY-MM-DD')%>">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Số ĐT</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="sodt"
                                    value="<%= khachhang.sodt %>">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Địa Chỉ</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="diachi"
                                    value="<%= khachhang.diachi %>">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="email"
                                    value="<%= khachhang.email %>">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Giới Tính</label>
                            <div class="col-sm-10">
                                <label for="nam">Nam</label>
                                <input type="radio" name="gioitinh" id="male" value="1"   
                                        <%if (khachhang.gioitinh == 1) { %>
                                        checked
                                        <% } %>
                                    >
                                <label for="khoangtrang"> </label>
                                <label for="nu">Nữ</label>
                                    <input type="radio" name="gioitinh" id="female" value="2"
                                        <%if (khachhang.gioitinh != 1) { %>
                                        checked
                                        <% } %>
                                    >
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Kích Hoạt</label>
                            <div class="col-sm-10">

                                <select class="form-control" name="kichhoat">
                                        <% if(khachhang.kichhoat == 2){ %>
                                            <option name="kichhoat" selected value="2">Đã Kích Hoạt</option>
                                            <option name="kichhoat"  value="1"> Chưa Kích Hoạt</option>
                                            <% } else{ %>  
                                                <option name="kichhoat"  value="2">Đã Kích Hoạt</option>
                                                <option name="kichhoat" selected value="1"> Chưa Kích Hoạt</option>
                                        <% } %>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10 ml-sm-auto">
                                <button class="btn btn-info btn-rounded " type="submit">Cập Nhật</button>
                                <a href="/admin/khachhang/details/<%= khachhang.makh %>" class="btn btn-info btn-rounded">Xem Chi Tiết</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div> 
        </div>

        <div class="col-md-5">
            <% if (typeof status !== 'undefined') { %>
                <%if (status == 'successhdd') { %>
                    <div class="ibox ibox-success">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                <div style="color: rgb(255, 255, 255);">
                                    Cập Nhật Thành Công!
                                </div>
                            </div>
                            <div class="ibox-tools">
                                <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                            </div>

                <% } else { %>

                    <%if (status == 'errorhdd') { %>

                    <div class=" ibox ibox-danger">
                        <div class="ibox-head">
                                <div class="ibox-title">
                                       
                                        <div style="color: rgb(255, 255, 255);">
                                            Đã xảy ra lỗi khi cập nhật ảnh đại diện!
                                        </div>
                                </div>
                                <div class="ibox-tools">
                                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                        <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                                </div>
                                <% } else { %>
                                    <div class="ibox ibox-info">
                                        <div class="ibox-head">
                                            <div class="ibox-title">
                                                <div style="color: rgb(255, 255, 255);">
                                                Đổi Ảnh Đại Diện
                                                </div>
                                            </div>
                                            <div class="ibox-tools">
                                                <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                                <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                                            </div>
                                <% } %>
                <% } %>
            <% } else { %>
                <div class="ibox ibox-info">
                    <div class="ibox-head">
                        <div class="ibox-title">
                            <div style="color: rgb(255, 255, 255);">
                            Đổi Ảnh Đại Diện
                            </div>
                        </div>
                        <div class="ibox-tools">
                            <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                            <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                        </div>
            <% } %>
                </div>
                <div class="ibox-body">
                    <form action="/admin/khachhang/anhdaidien/<%= khachhang.makh %>" 
                        class="form-horizontal" enctype="multipart/form-data" 
                        method="POST"
                        onSubmit="return confirm('Bạn có chắc chắn muốn đổi?') "
                        
                        > 
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Hình Cũ</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="hinhdd"
                                    value="<%= khachhang.hinhdd %>" readonly />
                                    </br>
                                <img src="/images/avatarkh/<%= khachhang.hinhdd %>" width="200px" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Đổi Ảnh Mới</label>
                            <div class="col-sm-10">
                                <input type="file" name="hinhddmoi" accept="image/*" required/>
                            </div>
                        </div>
                      
                        <input class="btn btn-info btn-rounded " type="submit" value="Đổi Ảnh Đại Diện"/>
                      
                     </form>
                </div>
            </div>
        </div>

    </div>
</div>


<div style="height: 200px;"></div>

<!-- Sử dụng cho jquery - validation -->
<script src="/assets/vendors/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="/assets/vendors/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#form-sample-1").validate({
        rules: {
            hokh: {
                required: !0,
                rangelength: [2, 30],
            },
            tenkh: {
                required: !0,
                rangelength: [2, 30],
            },
            ngaysinh: {
                required: !0,
            },
            sodt: {
                required: !0,
                rangelength: [2, 15],
            },
            diachi: {
                required: !0,
                rangelength: [2, 50],
            },
            email: {
                required: !0,
                rangelength: [2, 50],
            },
        },
        errorClass: "help-block error",
        highlight: function(e) {
            $(e).closest(".form-group.row").addClass("has-error")
        },
        unhighlight: function(e) {
            $(e).closest(".form-group.row").removeClass("has-error")
        },
    });
</script>