<title>Bài Viết</title>
<section class=" section-padding">
</section>
<section class=" section-paddinghai">
</section>


<main>
    <!--? Blog Area Start-->
    <section class="blog_area ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">

                        <% baiviet.forEach((item) => { %>
                        <!-- <td><%= item.hinhdd	%></td> -->
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="/images/baiviet/<%= item.hinhdd %>" alt="">
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block" href="/baivietct/<%= item.mabv %>">
                                    <h2 class="blog-head" style="color: #2d2d2d;"><%= item.tenbv %></h2>
                                </a>
                                <li><%= item.mota %>...</li>
                                <ul class="blog-info-link">

                                    <li><a href="#">Người Đăng: <%= item.manv %></a></li>
                                    <li><a href="#">Ngày Đăng: 
                                        <%= moment(item.ngaydang).format('DD-MM-YYYY')  %>
                                    </a></li>

                                </ul>
                            </div>
                        </article>


                        <% }) %>

                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <% if (baiviet.length > 0) { %>
                                <li class="page-item">
                                    <% if (page > 1) { %>
                                        <a  class="page-link" href="/baiviet?page=<%= page - 1 %>&limit=<%= limit %>">Trang Trước</a>
                                      <% } %>

                                    <!-- <a href="#" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a> -->
                                </li>
                             
                                <li class="page-item">
                                    <% if (baiviet.length === limit) { %>
                                        <a  class="page-link" href="/baiviet?page=<%= page + 1 %>&limit=<%= limit %>">Trang Sau</a>
                                      <% } %>
                                    <!-- <a href="#" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a> -->
                                </li>

                                <% } %>

                            </ul>
                        </nav>

                       

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">

                        <aside class="single_sidebar_widget search_widget">
                            <form action="/baiviet" method="get">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                      
                                            <input style="border:1px solid black"class="form-control" class="ml-5" type="text" name="tenbv"
                                placeholder="Nhập tên bài viết...">
                                        <div class="input-group-append">
                                            <button class="genric-btn info circle" type="submit">Tìm Kiếm</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Search</button> -->
                            </form>
                        </aside>

            

                        <aside class="single_sidebar_widget instagram_feeds">
                            <h4 class="widget_title" style="color: #2d2d2d;">Hoạt Động ở TaiCamRanh</h4>
                            <ul class="instagram_row flex-wrap">
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="assets/img/post/post_5.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="assets/img/post/post_6.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="assets/img/post/post_7.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="assets/img/post/post_8.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="assets/img/post/post_9.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="assets/img/post/post_10.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>