<title><%= baiviet.tenbv %></title>

<section class="blog_area single-post-area ">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 posts-list">
        <div class="single-post">
          <div class="feature-img">
            <img class="img-fluid" src="/images/baiviet/<%= baiviet.hinhdd %>" alt="">
          </div>
          <div class="blog_details">
            <h2 style="color: #2d2d2d;"> <%= baiviet.tenbv %>
            </h2>
            <ul class="blog-info-link mt-3 mb-4">
              <li><a href="#"><i class="fa fa-user"></i> Người đăng: <%= nhanvien.honv %> <%= nhanvien.tennv %></a></li>
              <li><a href="#"><i class="fa fa-comments"></i>Ngày đăng:   <%= moment(baiviet.created_at).format('dddd, DD-MM-YYYY HH:mm:ss')  %></a></li>
            </ul>
            <p class="excert">
              <code >
                <%- baiviet.noidung %>
              </code>
            </p>
          </div>
        </div>
       
      </div>
      <div class="col-lg-4">
        <div class="blog_right_sidebar">
          
          <aside class="single_sidebar_widget search_widget">
            <form action="/baiviet" method="get">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" name="tenbv"
                            placeholder="Nhập Tên Bài Viết.." maxlength="100"
                            onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Nhập Tên Bài Viết..'">

                        <div class="input-group-append">
                            <button class="btns" type="button"><i class="ti-search"></i></button>

                        </div>
                    </div>
                </div>

                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                    type="submit">Tìm Kiếm</button>
            </form>
        </aside>

          <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title" style="color: #2d2d2d;">Bài Viết Gần Nhất</h3>

            <% baivietmoi.forEach((item) => { %>
              <div class="media post_item">
                <img  src="/images/baiviet/<%= item.hinhdd %>" alt="post" style="width: 100px; height: 100px;">
                
                <div class="media-body">
                  <a href="/baivietct/<%= item.mabv %>">
                    <h3 style="color: #2d2d2d;"><%= item.tenbv %></h3>
                  </a>
                  <p>  <%= moment(item.created_at).format('dddd, DD-MM-YYYY HH:mm:ss')  %></p>
                </div>
              </div>
  
              <% }) %>
         

          </aside>
        </div>
      </div>
    </div>
  </div>
</section>


