<title><%= sanpham.tensp %></title>

<link rel="stylesheet" href="/home/listproduct/vendors/themify-icons/themify-icons.css">
<link rel="stylesheet" href="/home/listproduct/vendors/linericon/style.css">
<link rel="stylesheet" href="/home/listproduct/vendors/nice-select/nice-select.css">
<link rel="stylesheet" href="/home/listproduct/vendors/nouislider/nouislider.min.css">
<link rel="stylesheet" href="/home/listproduct/css/style.css">

<div class="container">
	<div class="row s_product_inner">
		<div class="col-lg-6">
			<div class="owl-carousel owl-theme s_Product_carousel">
				<div class="single-prd-item">
					<img class="img-fluid" src="/images/sanpham/<%= sanpham.hinhdd %>" alt="">
				</div>

			</div>
		</div>
		<div class="col-lg-5 offset-lg-1">
			<div class="s_product_text">
				<h3><%= sanpham.tensp %></h3>
				
				<h2><%= (sanpham.giaban).toLocaleString() %> VNĐ</h2>
				<ul class="list">
					
					<li ><span>Số Lượng Trong Kho</span> : <%= sanpham.soluong %></li>
					<li><span>Danh Mục</span> : <%= danhmuc.tendm %></li>
					<li><span>Nhà Cung</span> : <%= nhacungcap.tenncc %></li>
				</ul>
				<p> <%= sanpham.motangan %></p>

				<label for="qty">Số Lượng:</label>


				<div class="product_count">

					
					<form action="/addfromct/<%= sanpham.masp %>" method="post">
						
					
						<input type="number" min="1" max="<%= sanpham.soluong %>"  name="quantity" value="1" >
		
				</div>



				<button type="submit" class="genric-btn info circle">Thêm Vào Giỏ</button>

				</form>



			</div>
		</div>
	</div>
</div>

<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
	<div class="container">
		<ul class="nav nav-tabs" id="myTab" role="tablist">

			<li class="nav-item">
				<a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab"
					aria-controls="review" c aria-selected="false">Thông Tin Chi Tiết Về Sản Phẩm</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">


			<div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
				<%- sanpham.motact %>
			</div>
		</div>
	</div>
</section>
<!--================End Product Description Area =================-->

<!--================ Start related Product area =================-->
<section class="related-product-area section-margin--small mt-0">
	<div class="container">
		<div class="section-intro pb-60px">

			<h2>Sản Phẩm <span class="section-intro__style">Mới Nhất</span></h2>
		</div>
		<div class="row mt-30">


			<% sanphamNew.forEach((item) => { %>

			<div class="col-sm-6 col-xl-6 mb-4 mb-xl-0">
				<div class="single-search-product-wrapper">
					<div class="single-search-product d-flex">
						<a href="#"><img src="/images/sanpham/<%= item.hinhdd %>" alt="" width="70px"></a>
						<div class="desc">
							<a href="#" class="title"><%= item.tensp %></a>
							<div class="price"><%= (item.giaban).toLocaleString() %> VNĐ</div>
						</div>
					</div>
				</div>
			</div>

			<% }) %>




		</div>
	</div>
</section>
<!--================ end related Product area =================-->

<script src="/home/listproduct/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="/home/listproduct/vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/home/listproduct/vendors/skrollr.min.js"></script>
<script src="/home/listproduct/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/home/listproduct/vendors/nice-select/jquery.nice-select.min.js"></script>

<script src="/home/listproduct/vendors/jquery.ajaxchimp.min.js"></script>
<script src="/home/listproduct/vendors/mail-script.js"></script>
<script src="/home/listproduct/js/main.js"></script>