<link rel="stylesheet" href="/home/listproduct/vendors/themify-icons/themify-icons.css">
<link rel="stylesheet" href="/home/listproduct/vendors/linericon/style.css">
<link rel="stylesheet" href="/home/listproduct/vendors/nice-select/nice-select.css">
<link rel="stylesheet" href="/home/listproduct/vendors/nouislider/nouislider.min.css">
<link rel="stylesheet" href="/home/listproduct/css/style.css">


<!-- ================ category section start ================= -->

<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head"><strong>DANH MỤC</strong></div>
                <ul class="main-categories">

                    <% danhmuc.forEach((item) => { %>
                    <li>
                        <a href="/sanphamdm/<%= item.madm %>" class="d-flex">
                            <p><%= item.tendm %></p>
                        </a>
                    </li>
                    <% }) %>
                </ul>
            </div>

            <div class="sidebar-filter">
                <div class="top-filter-head"><strong>HỢP TÁC</strong></div>
                <div class="common-filter">
                  <div class="head"><b>NHÀ CUNG CẤP</b></div>
                  <form action="#">
                    <ul style="list-style-type: square;">
                        <% nhacungcap.forEach((item) => { %>
                            <li class="filter-list">     
                                  <%= item.tenncc %>
                            </li>
                        <% }) %>
                    </ul>
                  </form>
                </div>
                <div class="common-filter">
                  <div class="head"> <b>ĐƠN VỊ VẬN CHUYỂN</b></div>
                  <form action="#">
                    <ul>
                      <li class="filter-list"><img src="https://ntlogistics.vn/tin-tuc/wp-content/uploads/2020/06/unnamed.png" alt="" width="130px" height="130px"></li>

                      <li class="filter-list"><img src="https://ntlogistics.vn/tin-tuc/wp-content/uploads/2020/06/t%E1%BA%A3i-xu%E1%BB%91ng.png" alt="" width="130px" height="130px"></li>

                      <li class="filter-list"><img src="https://ntlogistics.vn/tin-tuc/wp-content/uploads/2020/06/Giao_Hang_Nhanh_Toan_Quoc_color.b7d18fe5-1536x860.png" alt="" width="200px" height="111px"></li>
                      <li class="filter-list"><img src="https://ntlogistics.vn/tin-tuc/wp-content/uploads/2020/06/logo-380x270-1.jpg" alt="" width="200px" height="130px"></li>
                    </ul>
                  </form>
                </div>
               
              </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">

                <!-- <div>
                    <div class="input-group filter-bar-search">
                        <input type="text" placeholder="Search">
                        <div class="input-group-append">
                            <button type="button"><i class="ti-search"></i></button>
                        </div>
                    </div>
                </div> -->

                <div>
                    <div class="input-group filter-bar-search">
                        <form action="/shop" method="get">
                            <div class="row">
                                <input type="text" name="tensp" placeholder="Nhập tên sản phẩm..." maxlength="100"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập tên sản phẩm...'">
                                <div class="input-group-append">
                                    <button type="submit"><i class="ti-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="ml-auto mt-3 mr-2">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <% if (sanpham.length > 0) { %>
                            <li class="page-item"> 
                               
                                    <% if (page > 1) { %>
                                        <a class="page-link" href="/shop?page=<%= page - 1 %>&limit=<%= limit %>"><< Trở Lại</a>
                                      <% } %>
                                </li>
                            <!-- <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">..</a></li>
                            <li class="page-item"><a class="page-link" href="#">24</a></li> -->
                            <li class="page-item"> 
                                    <% if (sanpham.length === limit) { %>
                                        <a class="page-link" href="/shop?page=<%= page + 1 %>&limit=<%= limit %>">Xem Thêm >></a>
                                      <% } %>
                                </li>
                        <% } %>
                       </ul>
                    </nav>
                </div>
        



            </div>
            <!-- End Filter Bar -->
            <!-- Start Best Seller -->
            <section class="lattest-product-area pb-40 category-list">
                <div class="row">
                    <% sanpham.forEach((item) => { %>
                    <div class="col-md-6 col-lg-4">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="card-img" src="/images/sanpham/<%= item.hinhdd %>" alt="">
                                <ul class="card-product__imgOverlay">
                                    <li> <a href="/sanphamct/<%= item.masp %>"> <button><i class="ti-search"></i></button></a></li> 
                                    <li><a href="/add/<%= item.masp %>"><button><i class="ti-shopping-cart"></i></button></a></li>     
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                              
                                <h4 class="card-product__title"><a href="/sanphamct/<%= item.masp %>"><%= item.tensp %></a></h4>
                                <p class="card-product__price"><%= (item.giaban).toLocaleString() %> VNĐ</p>

                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>

                <ul class="pagination justify-content-center">


        
                <% if (sanpham.length > 0) { %>
                    <li class="page-item">
                        <% if (page > 1) { %>
                           
                          
                            <a class="page-link" href="/shop?page=<%= page - 1 %>&limit=<%= limit %>" aria-label="Previous">
                                <i class="ti-angle-double-left"></i>
                            </a>

                            <% } %>
                    </li>

                    <% if (sanpham.length === limit) { %>
                        
                        <li class="page-item">
                            <a class="page-link" href="/shop?page=<%= page + 1 %>&limit=<%= limit %>" aria-label="Next">
                                <i class="ti-angle-double-right"></i>
                            </a>
                        </li>
                               
                      <% } %>
                    <% } %>
                </ul>

            </section>
            <!-- End Best Seller -->
        </div>
    </div>
</div>

<!-- ================ category section end ================= -->




<script src="/home/listproduct/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="/home/listproduct/vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/home/listproduct/vendors/skrollr.min.js"></script>
<script src="/home/listproduct/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/home/listproduct/vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="/home/listproduct/vendors/nouislider/nouislider.min.js"></script>
<script src="/home/listproduct/vendors/jquery.ajaxchimp.min.js"></script>
<script src="/home/listproduct/vendors/mail-script.js"></script>
<script src="/home/listproduct/js/main.js"></script>