<title>Giỏ Hàng</title>

<link rel="stylesheet" href="/home/listproduct/vendors/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/home/listproduct/vendors/themify-icons/themify-icons.css">
<link rel="stylesheet" href="/home/listproduct/vendors/linericon/style.css">
<link rel="stylesheet" href="/home/listproduct/vendors/owl-carousel/owl.theme.default.min.css">
<link rel="stylesheet" href="/home/listproduct/vendors/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet" href="/home/listproduct/vendors/nice-select/nice-select.css">
<link rel="stylesheet" href="/home/listproduct/vendors/nouislider/nouislider.min.css">

<link rel="stylesheet" href="/home/listproduct/css/style.css">

<% if (products) {%>
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Giỏ Hàng</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                   
                  </nav>
            </div>
        </div>
    </div>
    <%  }else{ %>
    
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Giỏ Hàng Trống!</h1>
                    <img src="/images/cart.png" alt="" >
                </div>
            </div>
        </div>
    
    <% }%>


   


<!--================Cart Area =================-->

    
<% if (products) {%>
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tên Sản Phẩm</th>
                            <th scope="col">Giá Tiền 1 Sản Phẩm</th>
                            <th scope="col">Số  Lượng</th>
                            <th scope="col">Tổng Tiền</th>
                            <th scope="col">Hành Động</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- danh sach san pham -->


                        <% for(var i = 0; i < products.length; i++) { %>

                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <a  href="/sanphamct/<%= products[i].item.masp %>">
                                            <img src="/images/sanpham/<%= products[i].item.hinhdd %>" alt="" height="100px">
                                        </a>
                                        </div>
                                        <div class="media-body">
                                            <a  href="/sanphamct/<%= products[i].item.masp %>">
                                            <p><%= products[i].item.tensp %></p>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5><%= (products[i].item.giaban).toLocaleString() %> VNĐ</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <form action="/addfromgh/<%= products[i].item.masp %>" method="post">

                                        <input type="number" name="quantity" id="sst" min="1" max="<%= products[i].item.soluong %>"  value="<%= products[i].quantity %>" 
                                            >
                                       
                                    </div>
                                </td>
                                <td>
                                    <h5><%= (products[i].price).toLocaleString() %> VNĐ</h5>
                                </td>
                                <td>
                                    
                                    
                                   
                                   

                                        <button type="submit" class="genric-btn info-border circle small"><i class="fa fa-check-circle "></i></button>
                                        <!-- <a href="/update/<%= products[i].item.masp %>" class="genric-btn info-border circle small" ><i class="fa fa-check-circle "></i></a> -->
                                    </form>



                                    <a href="/remove/<%= products[i].item.masp %>" class="genric-btn danger-border circle small"><i class="fa fa-trash "></i></a>


                                   
                                </td>
                              
                            </tr>
    
                            <% }%>
    
 
                        <!-- <tr class="bottom_button">
                            <td>
                                <a class="button" href="#">Update Cart</a>
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="cupon_text d-flex align-items-center">
                                    <input type="text" placeholder="Coupon Code">
                                    <a class="primary-btn" href="#">Apply</a>
                                    <a class="button" href="#">Have a Coupon?</a>
                                </div>
                            </td>
                        </tr> -->


                        <tr>
                            <td>
                                <a class="gray_btn" href="/removeALL">Xóa Tất Cả</a>
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Tổng Tiền</h5>
                            </td>
                            <td>
                                <h5> <%= (totalPrice).toLocaleString() %> VNĐ</h5>
                            </td>
                        </tr>

                 
                        

                        <tr class="out_button_area">
                            <td class="d-none-l">

                            </td>
                            <td class="">

                                
                            </td>
                            <td>


                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="/shop">Quay lại Shopping</a>
                                    <a class="primary-btn ml-2" href="/khachhang/thongtintt/">Đặt Hàng</a>
                                </div>

                                
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <% }  %>
    
    


<!--================End Cart Area =================-->

<script src="/home/listproduct/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="/home/listproduct/vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/home/listproduct/vendors/skrollr.min.js"></script>
<script src="/home/listproduct/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/home/listproduct/vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="/home/listproduct/vendors/jquery.ajaxchimp.min.js"></script>
<script src="/home/listproduct/vendors/mail-script.js"></script>
<script src="/home/listproduct/js/main.js"></script>