<title>Đơn Đặt Hàng</title>
<section class=" section-padding">
</section>
<section class=" section-paddinghai">
</section>
<div class="section-tittle text-center">
    <h2>Chi Tiết Đơn Hàng</h2>
</div>


<style type="text/css">
    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, .125);
        border-radius: 1rem;
    }

    .text-reset {
        --bs-text-opacity: 1;
        color: inherit !important;
    }

    a {
        color: #5465ff;
        text-decoration: none;
    }
</style>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body" style="border: 1px solid black">
                      
                        <table class="table table-borderless">
                            <tr>
                                <td>MÃ HÓA ĐƠN:</td>
                                <td> <%= hoadon.mahd  %></td>
                            </tr>
                       
                            <tr>
                                <td>Ngày Giao: </td>
                               <td><%= hoadon.ngaygiao  %></td>
                            </tr>
                            <tr>
                                <td >Sản Phẩm: </td>
                                <td>
                                   
                                </td>
                             </tr>
                             <tr>
                               
                             </tr>
                            <tr >
                                <td>Tổng Tiền</td>
                                <td class="text-end"> <%=  hoadon.tongtienrx %></td>
                            </tr>
                            <tr>
                                <td>
                                    Trạng Thái:
                                    <%if (hoadon.matt == 1) { %>
                                    <a data-placement="top" class="genric-btn warning circle" href="#"
                                        title="Danger">Chờ Xác Nhận</a>
                                    <% } %>

                                    <%if (hoadon.matt == 2) { %>
                                    <a data-placement="top" class="genric-btn success circle" href="#" title="View">Đã
                                        Xác Nhận</a>
                                    <% } %>

                                    <%if (hoadon.matt == 3) { %>
                                    <a data-placement="top" class="genric-btn danger circle" href="#"
                                        title="Danger">Hủy</a>
                                    <% } %>
                                    <%if (hoadon.matt == 4) { %>
                                        <a data-placement="top" class="genric-btn success circle" href="#" title="View">
                                            Thành Công</a>
                                        <% } %>
                                </td>
                                <td>
                                    Thanh Toán:
                                    <%if (hoadon.thanhtoan == 1) { %>
                                    <a data-placement="top" class="genric-btn danger circle" href="#" title="View">Chưa
                                        Thanh Toán</a>
                                    <% }else { %>
                                    <a data-placement="top" class="genric-btn success circle" href="#" title="View">Đã
                                        Thanh Toán</a>
                                    <%  } %>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body" style="border: 1px solid black">
                        <strong>
                            <h3>Thông Tin Người Đặt</h3>
                        </strong>
                        Tên: <%= hoadon.tennguoinhan  %><br>
                        Số Điện Thoại: <%= hoadon.sodt  %>
                        <br>
                        Địa Chỉ: <%= hoadon.diachi  %>
                        <br>
                        Ngày Tạo Hóa Đơn:
                        <%= moment(hoadon.ngaydat).format('DD-MM-YYYY')  %>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body" style="border: 1px solid black">
                        <h3>Ghi Chú</h3>
                        <p><%= hoadon.ghichu  %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>