<title>Nhập Thông Tin Lịch Hẹn</title>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
            <div class="card card-default rounded-0 shadow blur" style="border:1px solid black">
                <h1 class="mb-20 text-center mt-20">Đặt Lịch Hẹn</h1>
                <div class="card-body container-fluid">

                    
                    <form action="/datlich/:makh" method="post" id="booking-form">

                        <input type="hidden" name="id" value="">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group mb-3">
                                    <label for="tennguoirua"><b>Tên Người Rửa</b></label>
                                    <input type="text" name="tennguoirua" maxlength="255" placeholder="Nhập họ tên" class="single-input"
                                        style="border:1px solid black"
                                        <% if (typeof tennguoirua != "undefined" && tennguoirua) { %>
                                        value="<%= tennguoirua %>" <% } %> required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="sdt"><b>Số Điện Thoại</b></label>
                                    <input type="number" name="sodt" maxlength="15" placeholder="Nhập số điện thoại"
                                        class="single-input" style="border:1px solid black"
                                        <% if (typeof sodt != "undefined" && sodt) { %> value="<%= sodt %>" <% } %>
                                        required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="diachi"><b>Địa Chỉ</b></label>
                                    <input type="text" name="diachi" maxlength="255" placeholder="Nhập địa chỉ" class="single-input"
                                        style="border:1px solid black"
                                        <% if (typeof diachi != "undefined" && diachi) { %> value="<%= diachi %>"
                                        <% } %> required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="ghichu"><b>Ghi Chú</b></label>

                                    <textarea rows="3" cols="50"  type="text" name="ghichu" maxlength="255" placeholder="Nhập ghi chú" class="single-input"
                                        style="border:1px solid black"
                                        <% if (typeof diachi != "undefined" && diachi) { %> value="<%= diachi %>"
                                        <% } %> ></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                <div class="form-group mb-3 ">
                                    <label for="malx"><b>Loại Xe</b></label>

                                    <select class="form-select single-input" id="box1" name="malx"
                                        style="border:1px solid black" onChange="myNewFunction(this);">
                                        <% loaixe.forEach((item) => { %>
                                        <option name="malx" value="<%= item.malx %>" id="<%= item.gia %>">
                                            <%= item.tenlx %></option>
                                        <% }) %>
                                    </select>

                                </div>

                                <div class="form-group mb-3">
                                    <label for="ngayrua"><b>Ngày Rửa</b></label>
                                    <div>

                                        <input type="date" name="ngayrua" placeholder="" class="single-input"
                                            style="border:1px solid black"
                                            <% if (typeof ngayrua != "undefined" && ngayrua) { %> value="<%= ngayrua %>"
                                            <% } %> required readonly>

                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                  <b>Giờ Rửa</b>   <b class="text-danger">(Lưu ý!)</b>

                                    <select class="form-select single-input" name="magio" style="border:1px solid black"
                                        onchange="myFunction()">
                                        <% gio.forEach((item) => { %>
                                        <option name="magio" value="<%= item.magio %>"><%= item.tengio %></option>
                                        <% }) %>
                                    </select>

                                </div>
                                <div class="form-group mb-3">
                                    <label for="tongtienrx"><b>Tổng Tiền</b></label>
                                    <div>

                                        <input id="tongtienrx" type="text" name="tongtienrx" placeholder=""
                                            class="single-input" readonly style="border:1px solid black">
                                    </div>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="ptthanhtoan"><b>Phương Thức Thanh Toán</b></label>
                                    <div>
                                            <select class="form-select single-input"  name="ptthanhtoan"
                                            style="border:1px solid black">      
                                            <option name="ptthanhtoan" value="1" id="1">Tại Cửa Hàng</option>
                                            <option name="ptthanhtoan" value="2" id="2">Thẻ Online</option>
                                            </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div  class="text-danger text-left  mb-3">
                      
                        Hệ thống chỉ hiển thị những khung giờ đang còn trống. </br>
                        Nếu không có khung giờ phù hợp vui lòng chọn ngày khác.
                        </div>
                        <div class="text-center">
                        
                        <a href="/khachhang/chonngay" class="genric-btn info circle">Chọn Ngày Khác</a>

                            <input class="genric-btn info circle" type="submit" value="Đặt Lịch Ngay">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</br>
<script>
    var giaTriDau = <%= giaTriDau %>;

    document.getElementById('tongtienrx').value = giaTriDau;

    function myNewFunction(sel) {
        document.getElementById('tongtienrx').value = sel.options[sel.selectedIndex].id;
    }



    const url = window.location.href;
    const status = url.slice(url.lastIndexOf('=') + 1);
   
    if (status == 'gioihan') {
        alert("Bạn đã đạt giới hạn đặt lịch hôm nay!");
    }

</script>