<title>Liên Hệ</title>
<section class=" section-padding">
</section>
<section class=" section-paddinghai">
</section>
<!-- <div class=" text-center">
    <h2>Liên Hệ</h2>
</div> -->

<div class="container" >
    <div class="row justify-content-center" >
        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12"  >
            <div class="card card-default rounded-0 shadow blur" style="border:1px solid black">
                <h1 class="mb-20 text-center mt-20">Đặt Lịch Hẹn</h1>
                <div class="card-body container-fluid">
                    <form action="" id="booking-form">
                        <input type="hidden" name="id" value="">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group mb-3">
                                  
                                        <label for="tennguoidat"><b>Tên Người Đặt</b></label>
                                        <input type="text" name="tennguoidat" placeholder="Nhập họ tên" class="single-input"
                                            style="border:1px solid black" <% if (typeof tennguoidat != "undefined" && tennguoidat) { %>
                                            value="<%= tennguoidat %>" <% } %> required>
                           
                                </div>
                                <div class="form-group mb-3">
                                    <label for="sdt"><b>Số Điện Thoại</b></label>
                                    <input type="text" name="sodt" placeholder="Nhập số điện thoại" class="single-input"
                                        style="border:1px solid black" <% if (typeof sodt != "undefined" && sodt) { %>
                                        value="<%= sodt %>" <% } %> required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="diachi"><b>Địa Chỉ</b></label>
                                    <input type="text" name="diachi" placeholder="Nhập địa chỉ" class="single-input"
                                        style="border:1px solid black" <% if (typeof diachi != "undefined" && diachi) { %>
                                        value="<%= diachi %>" <% } %> required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="ghichu"><b>Ghi Chú</b></label>
                                  
                                    <textarea type="text" name="diachi" placeholder="Nhập ghi chú" class="single-input"
                                    style="border:1px solid black" <% if (typeof diachi != "undefined" && diachi) { %>
                                    value="<%= diachi %>" <% } %> required></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                             
                                <div class="form-group mb-3 ">
                                    <label for="loaixe"><b>Loại Xe</b></label>
                                  
                                    <select class="form-select single-input"  id="mySelect" name="malx"  style="border:1px solid black" onchange="myFunction()">
                                        <% loaixe.forEach((item) => { %> 
                                            <option value="<%= item.gia %>"><%= item.tenlx %></option>
                                         <% }) %>
                                    </select>
                               
                                </div>
                             
                                <div class="form-group mb-3">
                                    <label for="ngaysinh"><b>Ngày Rửa</b></label>
                                    <div >
                    
                                        <input type="date" name="ngaysinh" placeholder="" class="single-input"
                                            style="border:1px solid black" <% if (typeof ngaysinh != "undefined" && ngaysinh) { %>
                                            value="<%= ngaysinh %>" <% } %> required>
                    
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="ngaysinh"><b>Giờ Rửa</b></label>
                                    <div >
                    
                                        <input type="datetime-local" name="ngaysinh" placeholder="" class="single-input"
                                            style="border:1px solid black" <% if (typeof ngaysinh != "undefined" && ngaysinh) { %>
                                            value="<%= ngaysinh %>" <% } %> required>
                    
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="ngaysinh"><b>Tổng Tiền</b></label>
                                    <div >
                                        <p id="demo"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        

                        <div class="text-center"><button
                                class="genric-btn info circle"></i>Đặt Lịch Ngay</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
      var x = document.getElementById("mySelect").value;
      document.getElementById("demo").innerHTML = x + "VNĐ";
    }
</script>
