<title>Đơn Đặt Lịch</title>


<link rel="stylesheet" href="/home/listproduct/vendors/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/home/listproduct/vendors/themify-icons/themify-icons.css">
<link rel="stylesheet" href="/home/listproduct/vendors/linericon/style.css">
<link rel="stylesheet" href="/home/listproduct/vendors/owl-carousel/owl.theme.default.min.css">
<link rel="stylesheet" href="/home/listproduct/vendors/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet" href="/home/listproduct/vendors/nice-select/nice-select.css">
<link rel="stylesheet" href="/home/listproduct/vendors/nouislider/nouislider.min.css">

<link rel="stylesheet" href="/home/listproduct/css/style.css">

<style type="text/css">
    .panel-order .row {
        border-bottom: 1px solid #ccc;
    }

    .panel-order .row:last-child {
        border: 0px;
    }

    .panel-order .row .col-md-1 {
        text-align: center;
        padding-top: 15px;
       
    }

    .panel-order .row .col-md-1 img {
        width: 50px;
        max-height: 50px;
    }

    .panel-order .row .row {
        border-bottom: 0;
    
    }

    .panel-order .row .col-md-11 {
        border: 1px solid #ccc;
    }

    .panel-order .row .row .col-md-12 {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .panel-order .row .row .col-md-12:last-child {
        font-size: 11px;
        color: #555;
        background: #efefef;
    }

    .panel-order .btn-group {
        margin: 0px;
        padding: 0px;
    }

    .panel-order .panel-body {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .panel-order .panel-deading {
        margin-bottom: 0;
    }
</style>


<% if ( hoadonrx == '') {%>
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Đơn Đặt Lịch Trống</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
    
                </nav>
            </div>
        </div>
    </div>
    <% } else {%>
    <!-- ================ start banner area ================= -->
<div class="container h-100">
    <div class="blog-banner">
        <div class="text-center">
            <h1>Đơn Đặt Lịch</h1>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">

            </nav>
        </div>
    </div>
</div>
<!-- ================ end banner area ================= -->

<!--================Tracking Box Area =================-->
<section class="tracking_box_area">
    <div class=" container">
        <p>Tìm kiếm hóa đơn rửa xe</p>

        <div class=" tracking_box_inner row">
            <div class="col-md-10">
            <form  class=" tracking_form" action="/khachhang/dondatlich" method="get">
                <div class="row">
                    <div class="col-md-10 form-group">
                        <input class="form-control" type="text" name="mahdrx"
                        placeholder="Nhập Mã Hóa Đơn.." maxlength="255"
                        onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Nhập Mã Hóa Đơn..'" >
                    </div>

                    <div class="col-md-2 form-group">
                        <button type="submit" value="submit" class="button button-tracking">Tìm</button>
                        <!-- <button type="submit"><i class="ti-search"></i></button> -->
                    </div>
                </div>

            </form>

            </div>

            <div class="col-md-2">
                <% if (hoadonrx.length > 0) { %>
                    <li class="page-item">
                        <% if (page > 1) { %>
                            <a class="page-link" href="/khachhang/dondatlich?page=<%= page - 1 %>&limit=<%= limit %>" aria-label="Previous">
                                 <i class="ti-angle-double-left"></i> Quay Lại
                            </a>
                
                            <% } %>
                    </li>
                
                    <% if (hoadonrx.length === limit) { %>
                        
                        <li class="page-item">
                            <a class="page-link" href="/khachhang/dondatlich?page=<%= page + 1 %>&limit=<%= limit %>" aria-label="Next">
                                Trang Tiếp  <i class="ti-angle-double-right"></i> 
                            </a>
                        </li>
                               
                      <% } %>
                    <% } %>
            </div>

        </div>
    </div>
</section>

<!--================End Tracking Box Area =================-->

<link rel="stylesheet" type="text/css"
href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<div class="container bootdey" >
<div class="panel panel-default panel-order">
    <div class="panel-body">

        <% hoadonrx.forEach((item) => { %>
        <div class="row">
            <div class="col-md-1"><img src="https://bootdey.com/img/Content/user_3.jpg"
                    class="media-object img-thumbnail" /></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right"><a href="/khachhang/ctdatlich/<%= item.mahdrx %>" class="genric-btn info-border circle">Xem Chi Tiết</a></div>


                        <% 
                            var now = new Date(); // Lấy thời gian hiện tại
                            var someDate = new Date(item.created_at); // Mốc thời gian đã cho
                            var diff = (now.getTime() - someDate.getTime()) / (1000 * 60); // Tính khoảng cách thời gian, chuyển đổi sang phút
                            
                            if ((diff <= 30) && (item.matt != 3)) { %>
                                <div class="pull-right"><a href="/khachhang/huydonhang/<%= item.mahdrx %>"  onclick="return confirm('Bạn có chắc chăn muốn hủy không?')" class="genric-btn danger-border circle">Hủy Đơn Hàng</a></div>

                            <% } else { %>
                                
                        <% } %>


                        
                       
                       
                        <span>
                            <strong>Mã Hóa Đơn: <%= item.mahdrx  %></strong>
                        </span>
                        <br />
                     
                        Ngày Rửa Xe:      <%= moment(item.ngayrua).format('DD-MM-YYYY')  %> 
                    </br>
                        Giờ Rửa:      
                    
                        <% for(var i=0; i<gio.length; i++) { %>
                        
                                <% if(gio[i].magio == item.magio){ %>
                                    <%= gio[i].tengio %>
                                    <% } else{ %>  
                               
                                   <% } %>
                         <%} %>
                        <br />
                        <div class="row">
                            <div class="ml-4">
                           
                                <%if (item.matt == 1) { %>
                                    <a data-placement="top" class="genric-btn warning circle small" href="#"
                                        title="Danger">Chờ Xác Nhận</a>
                                    <% } %>
    
                                    <%if (item.matt == 2) { %>
                                    <a data-placement="top" class="genric-btn info circle small" href="#" title="View">Đã
                                        Xác Nhận</a>
                                    <% } %>
    
                                    <%if (item.matt == 3) { %>
                                    <a data-placement="top" class="genric-btn danger circle small" href="#"
                                        title="Danger">Hủy</a>
                                    <% } %>
                                    <%if (item.matt == 4) { %>
                                        <a data-placement="top" class="genric-btn success circle small" href="#" title="View">
                                            Thành Công</a>
                                    <% } %></td>
    
                                    <%if (item.matt == 5) { %>
                                        <a data-placement="top" class="genric-btn primary circle small" href="#" title="View">
                                            Đã Giao Cho Đơn Vị Vận Chuyển</a>
                                    <% } %>
                            </div>
                            <div style="width: 5px"></div>
                            <div>
                      
                                <%if (item.thanhtoan == 1) { %>
                                <a data-placement="top" class="genric-btn danger circle small" href="#" title="View">Chưa
                                    Thanh Toán</a>
                                <% }else { %>
                                <a data-placement="top" class="genric-btn success circle small" href="#" title="View">Đã
                                    Thanh Toán</a>
                                <%  } %>
                            </div>
                        </div>
                        


                    </div>
                    <div class="col-md-12">
                            Thời Gian Cập Nhật Gần Nhất: 

                          <%= moment(item.updated_at).format('dddd, DD-MM-YYYY HH:mm:ss') %>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
     
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
    <% } %>

    





<script src="/home/listproduct/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="/home/listproduct/vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/home/listproduct/vendors/skrollr.min.js"></script>
<script src="/home/listproduct/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/home/listproduct/vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="/home/listproduct/vendors/jquery.ajaxchimp.min.js"></script>
<script src="/home/listproduct/vendors/mail-script.js"></script>
<script src="js/main.js"></script>

<script>
const url = window.location.href;
    const status = url.slice(url.lastIndexOf('=') + 1);
   
    if (status == 'huysuccess'){
		alert("Hủy Thành Công!");
	}

</script>