<title>Nhập Thông Tin Thanh Toán</title>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
            <div class="card card-default rounded-0 shadow blur" style="border: 1px solid #ccc;">
                <h1 class="mb-20 text-center mt-20">Nhập Thông Tin</h1>
                <div class="card-body container-fluid">

                    <form action="/dathang" method="post" id="orderForm" >
                        <input type="hidden" name="id" value="">

                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                <div class="form-group mb-3">
                                    <label for="tennguoinhan"><b>Tên Người Nhận</b></label>  <b class="text-danger">(*)</b>
                                    <input type="text" name="tennguoinhan"  maxlength="255"
                                        placeholder="Nhập tên người nhận..." class="single-input"
                                        style="border: 1px solid #ccc;"
                                        <% if (typeof tennguoinhan != "undefined" && tennguoinhan) { %>
                                        value="<%= diachi %>" <% } %> required>
                                </div>

                                
                                <div class="form-group mb-3">
                                    <label for="sdt"><b>Số Điện Thoại Người Nhận</b></label>  <b class="text-danger">(*)</b>
                                    <input type="number" name="sodt" maxlength="15" placeholder="Nhập số điện thoại"
                                        class="single-input" style="border: 1px solid #ccc;"
                                        <% if (typeof sodt != "undefined" && sodt) { %> value="<%= sodt %>" <% } %>
                                        required>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="ghichu"><b>Ghi Chú</b></label>

                                    <textarea rows="3" cols="50" type="text" name="ghichu" maxlength="255"
                                        placeholder="Nhập ghi chú" class="single-input" style="border: 1px solid #ccc;"
                                        <% if (typeof diachi != "undefined" && diachi) { %> value="<%= diachi %>"
                                        <% } %>></textarea>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                              

                                <div class="form-group mb-3">
                                    <label for="matinh"><b>Tỉnh/Thành phố</b></label> <b class="text-danger">(*)</b>
                                    <div>

                                          <select class="form-select single-input" name="matinh" id="matinhSelect"  style="border: 1px solid #ccc;">
                                            <option value="" class="chon-thanh-pho">Chọn Thành Phố</option>
                                            <% tinh.forEach((item) => { %>
                                            <option name="matinh" value="<%= item.matinh %>" data-tentinh="<%= item.tentinh %>"><%= item.tentinh %></option>
                                            <% }) %>
                                          
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group mb-3">
                                    <label for="ptthanhtoan"><b>Quận/Huyện</b></label>  <b class="text-danger">(*)</b>
                                    <div>

                                        <select class="form-select single-input" style="border: 1px solid #ccc;" name="mahuyen" id="mahuyenSelect">
                                            <option value="">Chọn Huyện</option>
                                        
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="diachi"><b>Địa Chỉ</b></label>  <b class="text-danger">(*)</b>
                                    <input type="text" name="diachi" maxlength="255" placeholder="Nhập địa chỉ"
                                        class="single-input" style="border: 1px solid #ccc;"
                                        <% if (typeof diachi != "undefined" && diachi) { %> value="<%= diachi %>"
                                        <% } %> required>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="ptthanhtoan"><b>Phương Thức Thanh Toán</b></label>  <b class="text-danger">(*)</b>
                                    <div>
                                        <select class="form-select single-input" name="ptthanhtoan"  id="thanhtoanSelect"
                                            style="border: 1px solid #ccc;">
                                            <option name="ptthanhtoan"  data-tenthanhtoan="Thanh Toán Khi Nhận Hàng" value="1" id="1">Thanh Toán Khi Nhận Hàng
                                            </option>
                                            <option name="ptthanhtoan"  data-tenthanhtoan="Thẻ Online" value="2" id="2">Thẻ Online</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <hr>



                        <% if (typeof conflictError != "undefined" && conflictError) { %>
                        <div class="text-danger text-left  mb-3"><%= conflictError %></div>
                        <% } %>

                        <div class="text-center">

                            <!-- <a href="/khachhang/chonngay" class="genric-btn info circle">Giỏ Hàng</a> -->

                            <input class="genric-btn info circle" type="submit" value="Đặt Hàng">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var matinhSelect = document.getElementById("matinhSelect");
    var mahuyenSelect = document.getElementById("mahuyenSelect");


    //  sử dụng Ajax và JavaScript để gửi yêu cầu từ client đến server và nhận kết quả trả về để cập nhật select box "mahuyen":

    matinhSelect.onchange = function () {
        var selectedMatinh = matinhSelect.value;
        mahuyenSelect.innerHTML = ""; // Xóa các option hiện tại trong select mahuyen

        // Gửi yêu cầu Ajax đến server với giá trị matinh
        var xhr = new XMLHttpRequest();
        xhr.open("GET", `/getHuyen?matinh=${selectedMatinh}`, true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                var huyenList = JSON.parse(xhr.responseText);

                // Tạo các option mới dựa trên kết quả nhận được
                huyenList.forEach(function (item) {
                    var option = document.createElement("option");
                    option.value = item.mahuyen;
                    option.textContent = item.tenhuyen;
                
                    option.setAttribute("data-tenhuyen", item.tenhuyen);
                    mahuyenSelect.appendChild(option);
                });
            }
        };
        xhr.send();

        // Ẩn option "Chọn thành phố" nếu đã chọn thành phố
        var chonThanhPhoOption = document.querySelector(".chon-thanh-pho");
        if (selectedMatinh) {
            chonThanhPhoOption.style.display = "none";
        } else {
            chonThanhPhoOption.style.display = ""; // Hiển thị lại option nếu chưa chọn thành phố
        }
    };
</script>


<script>
    var orderForm = document.getElementById("orderForm");
  
    orderForm.addEventListener("submit", function(e) {
      e.preventDefault(); // Ngăn chặn hành vi mặc định của form
  
      var nameInput = document.getElementsByName("tennguoinhan")[0];
        var sdtInput = document.getElementsByName("sodt")[0];
        var diachiInput = document.getElementsByName("diachi")[0];

        // Lấy giá trị từ option matinh
        var matinhOption = matinhSelect.options[matinhSelect.selectedIndex];
        var selectedTentinh = matinhOption.getAttribute("data-tentinh");

        // Lấy giá trị từ huyện.
        var mahuyenOption = mahuyenSelect.options[mahuyenSelect.selectedIndex];
        var selectedTenhuyen= mahuyenOption.getAttribute("data-tenhuyen");


         // Lấy giá trị phương thức thanh toán.
         var mathanhtoanOption = thanhtoanSelect.options[thanhtoanSelect.selectedIndex];
        var selectedThanhtoan= mathanhtoanOption.getAttribute("data-tenthanhtoan");

  
      var confirmMessage = "Xác nhận thông tin đơn hàng:\n" +
                           "Tên người nhận: " + nameInput.value + "\n" +
                           "Số điện thoại: " + sdtInput.value + "\n" +
                           "Địa Chỉ: " + diachiInput.value +', '+ selectedTenhuyen + ', '+ selectedTentinh + "\n" +
                           "Phương thức thanh toán: " + selectedThanhtoan + "\n\n" +
                           "Bạn có chắc muốn xác nhận?";
  
      var isConfirmed = confirm(confirmMessage);
  
      if (isConfirmed) {
        // Submit form nếu người dùng xác nhận
        orderForm.submit();
      } else {
        // Thực hiện các xử lý khác khi người dùng không xác nhận
        console.log("Người dùng đã hủy xác nhận thông tin đơn hàng");
      }
    });
  </script>


<script>
    const url = window.location.href;
    const status = url.slice(url.lastIndexOf('=') + 1);

    if (status == 'gioihan') {
        alert("Bạn đã đạt giới hạn đặt hàng hôm nay!");
    }
</script>