<title>Nhập Thông Tin Thanh Toán</title>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
            <div class="card card-default rounded-0 shadow blur" style="border: 1px solid #ccc;">
                <h1 class="mb-20 text-center mt-20">Nhập Thông Tin</h1>
                <div class="card-body container-fluid">

                    <form action="/dathang" method="post" id="booking-form">
                        <input type="hidden" name="id" value="">

                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                <div class="form-group mb-3">
                                    <label for="tennguoinhan"><b>Tên Người Nhận</b></label>
                                    <input type="text" name="tennguoinhan" maxlength="255" placeholder="Nhập tên người nhận..."
                                        class="single-input" style="border: 1px solid #ccc;"
                                        <% if (typeof tennguoinhan != "undefined" && tennguoinhan) { %> value="<%= diachi %>"
                                        <% } %> required>
                                </div>
                      

                                

                                <div class="form-group mb-3">
                                    <label for="diachi"><b>Địa Chỉ</b></label>
                                    <input type="text" name="diachi" maxlength="255" placeholder="Nhập địa chỉ"
                                        class="single-input" style="border: 1px solid #ccc;"
                                        <% if (typeof diachi != "undefined" && diachi) { %> value="<%= diachi %>"
                                        <% } %> required>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="ghichu"><b>Ghi Chú</b></label>

                                    <textarea rows="3" cols="50" type="text" name="ghichu" maxlength="255"
                                        placeholder="Nhập ghi chú" class="single-input" style="border: 1px solid #ccc;"
                                        <% if (typeof diachi != "undefined" && diachi) { %> value="<%= diachi %>"
                                        <% } %>></textarea>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


                                <div class="form-group mb-3">
                                    <label for="sdt"><b>Số Điện Thoại Người Nhận</b></label>
                                    <input type="number" name="sodt" maxlength="15" placeholder="Nhập số điện thoại"
                                        class="single-input" style="border: 1px solid #ccc;"
                                        <% if (typeof sodt != "undefined" && sodt) { %> value="<%= sodt %>" <% } %>
                                        required>
                                </div>


                                <div class="form-group mb-3">
                                    <label for="ptthanhtoan"><b>Phương Thức Thanh Toán</b></label>
                                    <div>
                                        <select class="form-select single-input" name="ptthanhtoan"
                                            style="border: 1px solid #ccc;">
                                            <option name="ptthanhtoan" value="1" id="1">Thanh Toán Khi Nhận Hàng</option>
                                            <option name="ptthanhtoan" value="2" id="2">Thẻ Online</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>



                        <% if (typeof conflictError != "undefined" && conflictError) { %>
                        <div class="text-danger text-left  mb-3"><%= conflictError %></div>
                        <% } %>

                        <div class="text-center">

                            <a href="/khachhang/chonngay" class="genric-btn info circle">Giỏ Hàng</a>

                            <input class="genric-btn info circle" type="submit" value="Đặt Hàng Ngay">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
const url = window.location.href;
    const status = url.slice(url.lastIndexOf('=') + 1);
   
    if (status == 'gioihan'){
		alert("Bạn đã đạt giới hạn đặt hàng hôm nay!");
	}

</script>

